<section class="border-bottom d-flex flex-row justify-content-around flex-wrap px-2">
    <div class="pt-2 col-xl-2 col-md-4 col-12">
        شماره پرونده: {{fastInfo.documentNumber}}
    </div>
    <div class="pt-2 col-xl-2 col-md-4 col-12">
        تاریخ: {{auth.toPersianDate(fastInfo.createDate)}}
    </div>
    <div class="pt-2 col-xl-2 col-md-4 col-12">
        کد رهگیری: {{fastInfo.isiriNo}}
    </div>

    <div class="pt-2 col-xl-2 col-md-4 col-12">
        نام متقاضی: {{fastInfo.customerFullName}}
    </div>
    <div class="pt-2 col-xl-2 col-md-4 col-12">
        شرکت فروشنده آسانسور: {{fastInfo.responsibleFullName}}
    </div> 
</section>