<div class="fit-height flex w-50 mt-5" style="padding:5%;">
    <form class="w-100" nz-form [formGroup]="changePasswordFormGroup" (ngSubmit)="onChangePassword()" autocomplete="off">
        
        <nz-form-item>
            <nz-form-control nzErrorTip="کلمه عبور فعلی خود را وارد کنید">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" nz-input formControlName="currentPassword" placeholder="رمز عبور فعلی" maxlength="20" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <label>کلمه عبور باید حداقل هشت حرف شامل حرف بزرگ, حرف کوچک و عدد باشد</label>
        <nz-form-item>
            <nz-form-control nzErrorTip="کلمه عبور جدید را وارد کنید ">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" nz-input formControlName="newPassword" placeholder="رمز عبور جدید" maxlength="20" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="تایید کلمه عبور جدید را وارد کنید">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,30})" nz-input formControlName="confirmationPassword" placeholder="تکرار رمز عبور" maxlength="20" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <div class="mr-5">
            <button dir="rtl" nz-button class="login-form-button mb-3" [nzType]="'primary'"
            [nzLoading]="loginLoading" >
                ثبت
        </button>
        </div>
        
    </form>
</div>