<div class="w-100 d-flex flex-wrap fast-reg-page" dir="rtl">
    <nz-table #nzTable [nzData]="clients" [nzTotal]="total" [nzFrontPagination]="true" [nzPageSize]="pageSize"
        [nzPageIndex]="pageIndex" (nzQueryParams)="gridChanged($event)" nzTableLayout="fixed">
        <thead>
            <tr *ngIf="!client_req">
                <th>نام شرکت</th>
                <th>نام و نام خانوادگی </th>
                <th>نام کاربری</th>
                <!-- <th>شناسه ملی</th> -->
                <th>تصویر پروانه طرح</th>
                <th>تصویر استعلام اداره ثبت</th>
                <th >تایید</th>

            </tr>
            <tr *ngIf="client_req">
                <th>نام شرکت</th>
                <th>نام و نام خانوادگی </th>
                <th>نام کاربری</th>
                <!-- <th>شناسه ملی</th> -->
                <th>تصویر پروانه طرح</th>
                <th>تصویر استعلام اداره ثبت</th>
               <th>عملیات</th>
            </tr>
        </thead>
        <tbody *ngIf="!client_req">
            <tr *ngFor="let data of nzTable.data">
                <td>
                    {{data.installationCompanyName}}
                </td>
                <td>
                    {{data.fullName}}
                </td>
                <td>
                    {{data.userName}}
                </td>
                <!-- <td>
                    {{data.nationalNo}}
                </td> -->
                <td>
                    <!-- <button type="button" class="btn btn-link" (click)="download(data, 'designingCertificateId')">دانلود/نمایش</button> -->
                </td>
                <td>
                    <!-- <button type="button" class="btn btn-link" (click)="download(data, 'registrationOfficeCertificate')">دانلود/نمایش</button> -->
                </td>
                <td >
                    <!-- <button type="button" title="ویرایش" class="mx-1" nz-button nzType="default" nzShape="circle"
                        (click)="edit(data)"><i nz-icon nzType="edit"></i></button>-->
                  
                    <button type="button" title="تایید کاربر" class="mx-1 white_color" nz-button nzType="primary" nzShape="circle" (click)="confirm(data)">
                        <i nz-icon nzType="check"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="client_req">
            <tr *ngFor="let data of nzTable.data">
                <td>
                    {{data.installationCompanyName}}
                </td>
                <td>
                    {{data.fullName}}
                </td>
                <td>
                    {{data.userName}}
                </td>
                <!-- <td>
                    {{data.nationalNo}}
                </td> -->
                <td>
                    <!-- <button type="button" class="btn btn-link" (click)="download(data, 'designingCertificateId')">دانلود/نمایش</button> -->
                </td>
                <td>
                    <!-- <button type="button" class="btn btn-link" (click)="download(data, 'registrationOfficeCertificate')">دانلود/نمایش</button> -->
                </td>
                <td>
                    <button type="button" title="حذف" class="mx-1" nz-button nzType="primary" nzShape="circle" nz-popconfirm nzPopconfirmTitle="آیا از حذف رکورد جاری مطمن می باشید؟" (nzOnConfirm)="deactive(data)">
                        <i nz-icon nzType="delete"></i>
                    </button> 
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>